table {
	width: 100%;
}

table th {
	background-color: #BBB;
	text-align: left;
	vertical-align: top;
}

table td {
	background-color: #DDD;
	vertical-align: top;
}




table.control-camera td {
	width: 50%;
}

.remark {
	font-style: italic;
	color: #333;
}

li.link {
	text-decoration: underline;
	color: #004;
}

li {
	padding-left: 0px;
	margin-left: -15px;
}
