img.icon {
	margin: 4px;
	float: left;
}

.breakfloat {
	clear: both;
}

p {
	margin-left: 2px;
	margin-right: 2px;
}

p.bold {
	font-weight: bold;
}

div.header {
	padding: 3px;
	background-color: #F40;
	color: black;
}

div.title {
	font-size: 1.2em;
	font-weight: bold;
}

span.star {
	font-size: 2em;
}

span.n1 {
	color: #444;
}

span.n0 {
	color: #999;
}
