/* CSS File for documents
*/


body {
	background-color: black;
}
    
div.main {
	margin: auto; 
	padding: 32px;
	width: 640px; 
	background-color: #CCCCCC; 
	color: black;
}

dl dt {
	font-weight: bold;
}

dl dd {
	padding-bottom: 16px;
} 
    
.remark {
	font-style: italic;
	color: #444;
}

.hidden {
	display: none;
}
