/* STARTER CSS FOR MOBILE FIRST DOCUMENTS */

/* DEBUG
* {
	background-color: rgba(0, 0, 0, 0.2);
	border: thin solid black;
}
*/

* {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: 18px;
}

/* supprimer espace pour les lettres descendantes */
img {
	vertical-align: middle;
	width: 100%;
}


h1, h2, h3, h4, p {
	margin-top: 0;
}

nav ul {
	padding: 0;
}

nav li {
	list-style-type: none;
	display: inline-block;
}

a.btn {
	display: block;
	padding: 0.5em 1em;
	border-radius: 0.3em;
	text-decoration: none;
	margin-left: 0.2em;
	margin-right: 0.2em;
	box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.5);
}

a.btn:hover {
	transition: all 0.5s;
}





.wrapper {
	width: 100%;
}

.container {
	max-width: 1240px;
	margin: auto;
}

.container:before, .wrapper:before, .row:before,
.container:after, .wrapper:after, .row:after {
	content: "";
	display: table;
	clear: both;
}

figure {
	margin: 0;
}

figure figcaption {
	font-style: italic;
	font-size: 0.85em;
}

/*--------------*/
/* GRID SCREENS */
/*--------------*/

/* col-lg : large ; col-md : medium ; col-sm : small ; col-xs : extra small */

.row {
	position: relative;
}

[class*="col-"] {
	position: relative;
	float: left;
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}

.row .row {
	margin-left: -1.4rem;
	margin-right: -1.4rem;
}

.col-lg-12 {
	width: 100%;
}
.col-lg-11 {
	width: calc(100% * 11 / 12);
}
.col-lg-10 {
	width: calc(100% * 10 / 12);
}
.col-lg-9 {
	width: calc(100% * 9 / 12);
}
.col-lg-8 {
	width: calc(100% * 8 / 12);
}
.col-lg-7 {
	width: calc(100% * 7 / 12);
}
.col-lg-6 {
	width: calc(100% * 6 / 12);
}
.col-lg-5 {
	width: calc(100% * 5 / 12);
}
.col-lg-4 {
	width: calc(100% * 4 / 12);
}
.col-lg-3 {
	width: calc(100% * 3 / 12);
}
.col-lg-2 {
	width: calc(100% * 2 / 12);
}
.col-lg-1 {
	width: calc(100% * 1 / 12);
}

.col-lg-offset-12 {
	margin-left: 100%;
}
.col-lg-offset-11 {
	margin-left: calc(100% * 11 / 12);
}
.col-lg-offset-10 {
	margin-left: calc(100% * 10 / 12);
}
.col-lg-offset-9 {
	margin-left: calc(100% * 9 / 12);
}
.col-lg-offset-8 {
	margin-left: calc(100% * 8 / 12);
}
.col-lg-offset-7 {
	margin-left: calc(100% * 7 / 12);
}
.col-lg-offset-6 {
	margin-left: calc(100% * 6 / 12);
}
.col-lg-offset-5 {
	margin-left: calc(100% * 5 / 12);
}
.col-lg-offset-4 {
	margin-left: calc(100% * 4 / 12);
}
.col-lg-offset-3 {
	margin-left: calc(100% * 3 / 12);
}
.col-lg-offset-2 {
	margin-left: calc(100% * 2 / 12);
}
.col-lg-offset-1 {
	margin-left: calc(100% * 1 / 12);
}

/* LAPTOP */
@media all and (max-width: 1366px) {

	body {
		font-size: 16px;
	}

	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: calc(100% * 11 / 12);
	}
	.col-md-10 {
		width: calc(100% * 10 / 12);
	}
	.col-md-9 {
		width: calc(100% * 9 / 12);
	}
	.col-md-8 {
		width: calc(100% * 8 / 12);
	}
	.col-md-7 {
		width: calc(100% * 7 / 12);
	}
	.col-md-6 {
		width: calc(100% * 6 / 12);
	}
	.col-md-5 {
		width: calc(100% * 5 / 12);
	}
	.col-md-4 {
		width: calc(100% * 4 / 12);
	}
	.col-md-3 {
		width: calc(100% * 3 / 12);
	}
	.col-md-2 {
		width: calc(100% * 2 / 12);
	}
	.col-md-1 {
		width: calc(100% * 1 / 12);
	}

	.col-md-offset-12 {
		margin-left: 100%;
	}
	.col-md-offset-11 {
		margin-left: calc(100% * 11 / 12);
	}
	.col-md-offset-10 {
		margin-left: calc(100% * 10 / 12);
	}
	.col-md-offset-9 {
		margin-left: calc(100% * 9 / 12);
	}
	.col-md-offset-8 {
		margin-left: calc(100% * 8 / 12);
	}
	.col-md-offset-7 {
		margin-left: calc(100% * 7 / 12);
	}
	.col-md-offset-6 {
		margin-left: calc(100% * 6 / 12);
	}
	.col-md-offset-5 {
		margin-left: calc(100% * 5 / 12);
	}
	.col-md-offset-4 {
		margin-left: calc(100% * 4 / 12);
	}
	.col-md-offset-3 {
		margin-left: calc(100% * 3 / 12);
	}
	.col-md-offset-2 {
		margin-left: calc(100% * 2 / 12);
	}
	.col-md-offset-1 {
		margin-left: calc(100% * 1 / 12);
	}
	.col-md-offset-0 {
		margin-left: 0;
	}
}

/* PAD */
@media all and (max-width: 750px) {

	body {
		font-size: 14px;
	}

	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: calc(100% * 11 / 12);
	}
	.col-sm-10 {
		width: calc(100% * 10 / 12);
	}
	.col-sm-9 {
		width: calc(100% * 9 / 12);
	}
	.col-sm-8 {
		width: calc(100% * 8 / 12);
	}
	.col-sm-7 {
		width: calc(100% * 7 / 12);
	}
	.col-sm-6 {
		width: calc(100% * 6 / 12);
	}
	.col-sm-5 {
		width: calc(100% * 5 / 12);
	}
	.col-sm-4 {
		width: calc(100% * 4 / 12);
	}
	.col-sm-3 {
		width: calc(100% * 3 / 12);
	}
	.col-sm-2 {
		width: calc(100% * 2 / 12);
	}
	.col-sm-1 {
		width: calc(100% * 1 / 12);
	}

	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: calc(100% * 11 / 12);
	}
	.col-sm-offset-10 {
		margin-left: calc(100% * 10 / 12);
	}
	.col-sm-offset-9 {
		margin-left: calc(100% * 9 / 12);
	}
	.col-sm-offset-8 {
		margin-left: calc(100% * 8 / 12);
	}
	.col-sm-offset-7 {
		margin-left: calc(100% * 7 / 12);
	}
	.col-sm-offset-6 {
		margin-left: calc(100% * 6 / 12);
	}
	.col-sm-offset-5 {
		margin-left: calc(100% * 5 / 12);
	}
	.col-sm-offset-4 {
		margin-left: calc(100% * 4 / 12);
	}
	.col-sm-offset-3 {
		margin-left: calc(100% * 3 / 12);
	}
	.col-sm-offset-2 {
		margin-left: calc(100% * 2 / 12);
	}
	.col-sm-offset-1 {
		margin-left: calc(100% * 1 / 12);
	}
	.col-sm-offset-0 {
		margin-left: 0;
	}
}

/* MOBILE */
@media all and (max-width: 640px) {

	body {
		font-size: 12px;
	}

	.col-xs-12 {
		width: 100%;
	}
	.col-xs-11 {
		width: calc(100% * 11 / 12);
	}
	.col-xs-10 {
		width: calc(100% * 10 / 12);
	}
	.col-xs-9 {
		width: calc(100% * 9 / 12);
	}
	.col-xs-8 {
		width: calc(100% * 8 / 12);
	}
	.col-xs-7 {
		width: calc(100% * 7 / 12);
	}
	.col-xs-6 {
		width: calc(100% * 6 / 12);
	}
	.col-xs-5 {
		width: calc(100% * 5 / 12);
	}
	.col-xs-4 {
		width: calc(100% * 4 / 12);
	}
	.col-xs-3 {
		width: calc(100% * 3 / 12);
	}
	.col-xs-2 {
		width: calc(100% * 2 / 12);
	}
	.col-xs-1 {
		width: calc(100% * 1 / 12);
	}

	.col-xs-offset-12 {
		margin-left: 100%;
	}
	.col-xs-offset-11 {
		margin-left: calc(100% * 11 / 12);
	}
	.col-xs-offset-10 {
		margin-left: calc(100% * 10 / 12);
	}
	.col-xs-offset-9 {
		margin-left: calc(100% * 9 / 12);
	}
	.col-xs-offset-8 {
		margin-left: calc(100% * 8 / 12);
	}
	.col-xs-offset-7 {
		margin-left: calc(100% * 7 / 12);
	}
	.col-xs-offset-6 {
		margin-left: calc(100% * 6 / 12);
	}
	.col-xs-offset-5 {
		margin-left: calc(100% * 5 / 12);
	}
	.col-xs-offset-4 {
		margin-left: calc(100% * 4 / 12);
	}
	.col-xs-offset-3 {
		margin-left: calc(100% * 3 / 12);
	}
	.col-xs-offset-2 {
		margin-left: calc(100% * 2 / 12);
	}
	.col-xs-offset-1 {
		margin-left: calc(100% * 1 / 12);
	}
	.col-xs-offset-0 {
		margin-left: 0;
	}
}
