div.hintbox table tr {
	vertical-align: top;
}

div.hintbox {
	position: absolute;
	padding: 16px;
	background-color: #CCC;
	border: solid thin black;
	box-shadow: 0px 0px 4px black;
}

div.hintbox canvas{
	border: solid thin #666;
}

div.hintbox .commands button[data-command="remove"] {
	color: #800;
}

div.hintbox .commands button[data-command="remove"]:hover {
	color: #F00;
}
