.AdvancedPad .rdgpad div.previews {
	clear: both;
}

.AdvancedPad .rdgpad div.previews + hr {
	clear: both;
}

.AdvancedPad .rdgpad div.preview {
	border: solid 3px #222;
	float: left;
	margin-right: 4px;
}

.AdvancedPad .rdgpad div.preview.w {
	width: 64px;
	height: 96px;
}

.AdvancedPad .rdgpad div.preview.f {
	width: 64px;
	height: 64px;
}

.AdvancedPad .rdgpad div.preview.s {
	width: 128px;
	height: 96px;
}

.AdvancedPad .rdgpad form hr {
	clear: both;
}
