@CHARSET "UTF-8";

body {
	background: #222;
}

#document {
	padding: 16px;
	background: #CCC;
	border: solid 4px #666;
	width: 640px;
	margin: auto;
	font-family: monospace;
}

h1 {
	font-family: monospace;
}

div.title {
	font-family: monospace;
	font-weight: bold;
	font-size: 133%;
	padding-top: 8px;
	padding-bottom: 8px;
}

table.inspector th, table.inspector td {
	font-family: monospace;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}
	
table.inspector td {
	background-color: #AAA;
}

table.inspector th {
	background-color: #666;
	color: white;
}

table.inspector tr.link:hover td {
	background-color: #00F;
	cursor: pointer;
	color: white;
}

table.inspector caption {
	margin-top: 16px;
	caption-side: top;
	font-weight: bold;
	font-family: monospace;
	background-color: #444;
	color: white;
	padding-top: 2px;
	padding-bottom: 2px;
}


a.menu: {
	font-size: 75%;
	color: #444;
}
